<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ввод данных</title>
</head>
<body>
<h2>Ввод данных</h2>
{{if .Identifier }}
<form method="POST" action="/task2">
    <label>Название</label><br>
    <select id="title" name="title" style="width: 400px" onchange="change()">
        {{range $key, $value := .Identifier }}
            <option value="{{ $key }}">{{ $key }}</option>
        {{end}}
    </select><br><br>
    <label>Идентификатор</label><br>
    <input id="identifier-input" type="hidden" value="" name="identifier">
    <p id="identifier"></p><br><br>
    <input type="submit" value="Отправить"/>
</form>
{{end}}
{{ .Error }}
{{if .URL }}<a href="{{ .URL }}" target="_blank">Скачать файл</a>{{end}}

<script>
    let allDoc = {{.Identifier}};
    document.getElementById("identifier").innerText = allDoc[document.getElementById("title").value]
    document.getElementById("identifier-input").value = allDoc[document.getElementById("title").value]

    function change() {
        document.getElementById("identifier").innerText = allDoc[document.getElementById("title").value]
        document.getElementById("identifier-input").value = allDoc[document.getElementById("title").value]
    }
</script>
</body>
</html>