<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ввод данных</title>
</head>
<body>
<h2>Ввод данных</h2>
<form method="POST" action="/">
    <label>Заголовок</label><br>
    <input type="text" name="title"><br><br>
    <label>Код</label><br>
    <input type="text" name="code"><br><br>
    <input type="submit" value="Отправить"/>
</form>

<ul>
    {{range .SDMX}}
        <li><a href="{{ . }}"><b>{{ . }}</b></a></li>
    {{else}}
        <li><b>no rows</b></li>
    {{end}}
</ul>
</body>
</html>